@use "../../styles/variables" as *;

.login-container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: $secondary-color;

    .goback-icon {
        font-size: 32px;
        color: $primary-color;
        cursor: pointer;
        --ionicon-stroke-width: 36px;
    }

    .title-wrapper {
        color: $primary-color;
        text-align: center;
        line-height: 1.15rem;
        letter-spacing: .1rem;

        h1 {
            font-weight: 700;
            font-size: 36px;
            font-family: 'Montserrat';
        }

        p {
            font-weight: 500;
            margin: 0 auto;
            max-width: 12rem;
            font-size: 12px;
        }
    }

    .icon-image {
        width: 18rem;
        height: 19rem;
        margin: 0 auto;
    }

    .login-form {
        width: 18rem;

        .input-container {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            margin-top: 1rem;

            .input-group-wrapper {
                margin: .5rem 0;
                
                .input-group {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    color: $secondary-color;
                    background-color: $primary-color;
                    padding: .25rem .75rem;
                    border-radius: .75rem;
                    width: 100%;

                    ion-icon {
                        font-size: 28px;
                    }

                    ion-icon[name="eye-off-outline"],
                    ion-icon[name="eye-outline"] {
                        cursor: pointer;
                    }

                    ion-icon[name="alert-circle"] {
                        color: $light-red-color;
                        font-size: 32px;
                    }

                    input {
                        padding: .5rem;
                        border-radius: .25rem;
                        color: $secondary-color;
                        border: 0;
                        background-color: $primary-color;
                        outline: 0;
                        font-size: 14px;
                        width: 100%;

                        &::placeholder {
                            color: $secondary-color;
                            opacity: 0.7;
                            font-weight: 600;
                        }
                    }
                }
                .input-error-message {
                    color: $light-red-color;
                    margin: 2rem 0 0 .5rem;
                    font-size: 14px;
                }

                .password-strength-bar {
                    width: 95%;
                    height: 4px;
                    background-color: $primary-color;
                    margin: .75rem auto;
                    border-radius: 1rem;

                    .password-strength-line {
                        height: 100%;
                        transition: width .3s ease, background-color .3s ease;
                        border-radius: 1rem;
                    }
                }
            }

            .fullname-input-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .75rem;
                font-size: 14px;
            }
        }


        .forgot-password-btn {
            display: flex;
            justify-content: flex-end;
            color: $primary-color;
            font-size: 12px;
            margin-bottom: 1rem;
            transition: 1s;
            font-size: 13px;

            &:hover {
                text-decoration: underline;
            }
        }

        .login-btn {
            width: 100%;
            padding: .8rem;
            font-size: 14px;
            font-weight: 700;
            border-radius: 2rem;
            background-color: $primary-color;
            color: $secondary-color;
            margin-top: .25rem;

            &:disabled {
                opacity: 0.7;
            }
        }

    }

    .or-separator-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin-top: 1.5rem;
        color: $primary-color;
        font-size: 14px;

        .or-separator {
            width: 50%;
            height: .1rem;
            background-color: $primary-color;
        }
    }

    .alternative-login-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            box-shadow: 1px 2px 30px $primary-color;

            ion-icon {
                font-size: 28px;
            }
        }
    }
}